
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --color-primario: #201E43;
    --color-secundario: #EEEEEE;
    --color-terciario: #508C9B;
    --color-hover: #134B70;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header {
    padding: 2% 0% 0% 15%;
}

.header-menu {
    display: flex;
    gap: 80px;
}

.header-menu-link {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
    color: var(--color-terciario);
    text-decoration: none;
}

.header-menu-link:Hover {
    transform: scale(1.15);
}

.tituloStrong {
    color: var(--color-terciario);
}

.presentacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6% 15%;
    gap: 82px;
}

.presentacion-contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
} 

.presentacion-contenido-titulo {
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.presentacion-contenido-parrafo {
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion-enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.btnLink{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btnLink:Hover {
    background-color: var(--color-hover);
}

.imgDaniel {
    width: 50%;
}

.imgDaniel:Hover {
    transform: scale(1.2);
}

.titulo-enlaces {
    font-size: 1.5rem;
    font-family: var(--fuente-krona);
    color: var(--color-secundario);
    font-weight: 400;
}

.footer {
    background-color: var(--color-terciario);
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    color: var(--color-primario);
    text-align: center;
    padding: 24px;
    font-weight: 400;
}

.imgCurriculum {
    width: 65%;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header-menu {
        justify-content: center;
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion-contenido {
        width: auto;
    }
}